@model IEnumerable<DrinkFinder.MvcClient.Models.EstablishmentModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Establishments</h1>

<table class="table table-hover">
    <caption>All establishments</caption>
    <thead class="thead-dark">
        <tr class="d-flex">
            <th class="col-2">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="col-1">
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th class="col-5">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="col-3">
                @Html.DisplayNameFor(model => model.FormattedAddress)
            </th>
            <th class="col-1">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="d-flex">
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="col-1">
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td class="col-5">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="col-3">
                    @Html.DisplayFor(modelItem => item.FormattedAddress)
                </td>
                <td class="col-1">
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
